/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #FFF;
}

/* UTILITIES */

.text-center {
  text-align: center;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.top-bar {
  width: 100%;
  line-height: 35px;
  vertical-align: middle;
}

.top-bar__btn {
  background: #555;
  border-radius: 3px;
  border: 1px solid #555:
  padding 0px 5px;
}

.top-bar__btn__speaker {
  position: absolute;
  top: 1px;
  right: 50px;
  font-size: 12px;
}

.top-bar__btn__full-screen {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 24px;
}

.top-bar__btn__full-screen .fas.fa-arrows-alt {
  transform: rotate(45deg);
}

/* CAM VIEW ELEMENTS */

.cam-view {
  flex-grow: 1;
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.cam-view__user {
  position: relative;
  border: 3px solid #000;
  background-color: #111;
  flex-basis: 25%;
  transition: border .2s;
}

.cam-view__user:hover {
  border-color: #555;
}

.cam-view__user--active {
  border-color: lime;
}

.cam-view__user__name {
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}

.cam-view__user:not(.cam-view__user--active)::after {
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f131";
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}

.cam-view__user img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ACTION BAR ELEMENTS */

.action-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #555;
  /*padding-top: 10px;*/
}

.action-bar__btn {
  display: inline-block;
}

.action-bar__btn:not(:first-child) {
  margin-left: 10px;
}

.action-bar__btn__icon {
  font-size: 24px;
}

.action-bar__btn__icon--red {
  color: #FF3333;
}

.action-bar__btn__icon--green {
  color: lime;
}

.action-bar__btn__label {
  font-size: 12px;
  display: block;
}

.action-bar__self-actions {
  margin-left: 10px;

  /*max-width: 20%;*/
}

.action-bar__btn__label--red {
  color: #FF3333;
  font-size: 16px;
  font-weight: 700;
}

.action-bar__self-actions .action-bar__btn__icon::after {
  display: inline;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 10px;
  padding-left: 2px;
}

.action-bar__global-actions {
  /*max-width: 70%;*/
}

.action-bar__end-meeting {
  margin-right: 10px;
/*  max-width: 10%;*/
}
